<!DOCTYPE html>
<html lang="en">
  {{ template "head.tmpl" }}
  <body id="home">
    {{ template "nav.tmpl" }}

    <div id="yearCount" class="splash">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 caption">
            <div><img class="logo img-circle" src="https://img3.doubanio.com/icon/up2274326-10.jpg"></div>
            <h1 id="#welcome">Welcome 优</h1>
            <h1>Statistics for 2016</h1>
            <h2>Total books count: 38</h2>
            <h2>Last year: 25</h2>
          </div>
        </div>

      </div>
    </div>

    <section id="monthCount">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Every Month</h1>
            <h3>Top 3: Oct, Dec, Sep</h3>
          </div>
          <div class="col-lg-12">
            <div id="monthCountChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
          </div>
        </div>
      </div>
    </section>

    <section id="ratingCount">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Ratings Percentage</h1>
            <h3>Top 3: 4 stars, 5 stars, 3 stars</h3>
          </div>
          <div class="col-lg-12">
            <div id="ratingChart" ></div>
          </div>
        </div>
      </div>
    </section>

    <section id="authorCount">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Author Percentage</h1>
            <h3>Top 3: [美] 艾萨克·阿西莫夫, [美] 艾萨克·阿西莫夫, [美] 艾萨克·阿西莫夫</h3>
          </div>
          <div class="col-lg-12">
            <div id="authorChart" ></div>
          </div>
        </div>
      </div>
    </section>

    <section id="translatorCount">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Translator Percentage</h1>
            <h3>Top 3: [美] 艾萨克·阿西莫夫, [美] 艾萨克·阿西莫夫, [美] 艾萨克·阿西莫夫</h3>
          </div>
          <div class="col-lg-12">
            <div id="translatorChart" ></div>
          </div>
        </div>
      </div>
    </section>

    <section id="publisherCount">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Publisher Percentage</h1>
            <h3>Top 3: [美] 艾萨克·阿西莫夫, [美] 艾萨克·阿西莫夫, [美] 艾萨克·阿西莫夫</h3>
          </div>
          <div class="col-lg-12">
            <div id="publisherChart" ></div>
          </div>
        </div>
      </div>
    </section>

    <section class="posters-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Covers Wall</h1>
          </div>
          <div class="col-lg-12" id="posters-wall">
          </div>
        </div>
      </div>
    </section>

    <footer class="footer splash">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>Made by <a href="https://github.com/YanshuoH">YanshuoH</a></p>
            <p>For <a href="https://www.douban.com/people/2274326/">优</a></p>
            <p class="license">Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
