<head>
  <meta charset="utf-8">
  <title>Douban Reading Statistics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Douban reading statistic, douban reading stat, huangyanshuo, YanshuoH">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="/public/bundle.css" media="screen" title="no title" charset="utf-8">
</head>
